.navbar
    padding: 8px 0
    
    &-block
      display: flex
      justify-content: space-between
      align-items: center
    &__info
      display: flex
      text-align: right
      align-items: center
      
    &__addres
      display: flex
      flex-direction: column
      font-size: 13px
      font-weight: 400
      +reg
      
    &__button
        max-width: 170px
        height: 49px
        margin-left: 25px
        font-size: 12px
        +bold
    &__phone
     display: inline-block
     color: $text-color
     font-size: 22px
     font-weight: 400
     text-decoration: none
     margin-top: 9px
     +bold
@media (max-width: 768px)
  .navbar
    &__info
      .navbar__contacts
        display: none  
    &__logo
      min-width: 91px
      min-height: 44px  
    &__button 
      min-width: 90px
      min-height: 39px
      

     